.socialColour{
    filter: invert(10%) sepia(86%) saturate(5633%) hue-rotate(245deg) brightness(93%) contrast(155%);
}

@include media-breakpoint-up(sm) {
    .socialButtons {
        display: break;
    }
}

path {
    fill: #212529;
}

path:hover {
    fill: #6C757D;
}

a:link, a:visited, a:hover a:active {
    color: #212529;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #6C757D;
    background-color: transparent;
    text-decoration: none;
}

.btn-outline-primary{
    color: #212529 !important;
    --bs-btn-border-color: #212529 !important;
    --bs-btn-hover-border-color: #6C757D !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

:root {
    color: #212529 !important;
    --bs-link-color: #212529 !important;
    --bs-link-hover-color: #6C757D !important;
    background-color: transparent !important;
    text-decoration: none !important;
}


button:link, button:visited, button:active {
    color: #212529 !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

button:hover {
    color: #6C757D !important;
    background-color: transparent !important;
    text-decoration: none !important;
}

.cardHover:hover {
    /* background-color: #09508d !important; */
    /* border-radius: var(--bs-border-radius-xxl) !important; */
    border-radius: 1.5rem !important;
    box-shadow: 0 1rem 2rem rgb(0, 0, 0) !important;
    /* background-color: RGBA(33, 37, 41, var(--bs-bg-opacity, 1)) !important; */
    background-color: rgb(23, 25, 27) !important;
    /* transition: border-radius 0.2s ease-in-out; */
}

.cardHover{
    transition: all 0.2s ease-in-out;
}

/* .card {
    margin-right: 2px;
    transition: margin 0.2s ease-in-out;
    background-color: gray;
} */

/* .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
} */